body{
  font-size: 1rem;
  }
  .card {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #dbdad7;
}
.img{
  width:20%;
}
.card-title {
   padding:3%;
   margin-top: 0;
   margin-bottom: auto;
   margin-left: auto;
   margin-right: auto;
    background-color: #2f7fad;
    color: white;
    width: 80%
}
.s{
  text-align: center;
}

.custom-select {
    width: 80%
}
p{
  font-size: 3rem;
}
.btn2 {
    margin-left: 10%
}

input {
    outline: 0 !important;
    border-width: 0 0 2px !important;
    border-color: #d1d1cf !important
}

input:focus {
    border-color: #d1d1cf !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

select {
    outline: 0 !important;
    border-width: 0 0 2px !important;
    border-color: #d1d1cf !important;
}

select:focus {
    border-color: #d1d1cf !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.radiobtn {
    margin-left: 3.5%
}
label{
  text-align: left;
}
.icons {
    margin: auto !important
}

.fa {
    border-radius: 25px;
    width: 10%;
    margin-left: 5%;
    border: solid 2px #dbdad7;
    margin-top: 5%;
    text-align: center
}

.fa-plane {
    color: #1cad9f
}
.s{
  padding-bottom: 3.5%;
}
.fa-taxi {
    color: #c2f700
}

.fa-train {
    color: red
}
@media (min-width:1028px)
{
  .card{
    width: 60%;
    padding-left: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 10px !important;
    padding-top: 0px !important
  }
  div.card-body {
      padding: 0px
  }


}
@media only screen and (max-width: 500px) {
    .card {
      margin-top: 20%;
      margin-left: auto;
      margin-right: auto;
      /*margin-right:0px;*/
        border: solid 1px #dbdad7;
        width: 100%;
        padding-left: 20px !important;
        padding-bottom: 10px !important;
        padding-right: 20px !important;
        padding-top: 0px !important
    }

    .custom-select {

        width: 100%;
    }
    div.card-body {
        padding: 4%;
    }
    .fa {
        border-radius: 25px;
        width: 15%;
        margin-left: 5%;
        border: solid 2px #dbdad7;
        margin-top: 5%;
        text-align: center
    }
}
